## This is a velocity template
## to generate additional properties from an sql table input
#set ($table = $sqlTable.Table)
#set ($class = $utility.makeClassName($sqlTable.EntityName))
#set ($classVar    = $utility.makeFirstLetterLowerCase($class))
#set ($classVarUC    = $utility.makeFirstLetterUpperCase($class))
#set ($packagePrefix = $prop.getProperty("packagePrefix"))
#set ($packageModot = $prop.getProperty("packageModot"))
    <bean id="${classVar}Manager" parent="txProxyTemplate">
        <property name="target">
            <bean class="${packagePrefix}${packageModot}.service.impl.${classVarUC}ManagerImpl" parent="genericManager" autowire="byName"/>
        </property>
    </bean>