## This is a velocity template
## to generate a menu template file from an sql table input
#set ($table = $sqlTable.Table)
#set ($class = $utility.makeClassName($sqlTable.EntityName))
#set ($classVar = $utility.makeFirstLetterLowerCase($class))
#set ($packageModot  = $prop.getProperty("packageModot").substring(1))
		<Menu name="${packageModot}Menu" title="menu.view${packageModot}Menu" description="View ${packageModot}Menu" roles="admin" width="120" page="/${packageModot}/index.html">
<!-- start:  Generated for $class From Template: menu-config.xml.vm  -->
			<Item name="${class}sMenu" title="menu.view${class}s" page="/${packageModot}/${classVar}.html"/>
<!-- end:  Generated for $class From Template: menu-config.xml.vm  -->
		<!--end of ${packageModot} menu items-->
		</Menu>